:root {
  --bg: #fafafa;
  --font: "Archivo", sans-serif;
  --font-display: "Archivo Narrow", sans-serif;
  --hotpink: #e94057;
  --orange: #f27121;
  --gradient: linear-gradient(35deg, var(--orange), var(--hotpink));
}

body {
  margin: auto;
  min-height: 100vh;
  font-family: Verdana, sans-serif;
  background-image: url("bg/backgroundBlur.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
